.title {
  color: #6201b1;
  padding-bottom: 10px;
  text-align: center;
  text-shadow: 2px 3px rgba(46, 0, 107, 0.178);
  transform: translateY(35vh);
}
.text {
  color: #850101;
  text-align: center;
  transform: translateY(35vh);
}

.archiveBody {
  background-image: var(--archive-background-gradient);
  background-color: #6201b1;
  background-blend-mode: overlay, overlay, overlay, normal;
  background-size: auto;
  background-repeat: no-repeat;
}