.documentsBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  color: #9665ff;
  margin: 0;
  padding-left: 10px;
  align-self: center;
  font-family: eightBitFortress;
  font-size: 14px;
}

.navbar {
  display: flex;
  height: 4vh;
  width: 100%;
  flex-direction: row;
  border-bottom: 4px solid #9665ff;
  background-color: #000;
}

.grid {
  display: grid;
  height: inherit;
  width: inherit;
  grid-template-columns: repeat(4, minmax(0, 1fr)); 
  grid-template-rows: repeat(4, minmax(0, 1fr)); 
  gap: 14px 10px;
}

.iconButton {
  display: flex;
  color: #9665ff;
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0;
}
.iconButton:hover {
  border: 6px solid rgba(106, 64, 197, 0.5);
  background-color: rgba(44, 24, 87, 0.5);
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}