.documentsBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to bottom, black 38%, rgba(0, 0, 0, 0)); */
  background: #000;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.text {
  color: #9665ff;
  margin: 0;
  padding-left: 10px;
  align-self: center;
  font-family: eightBitFortress;
  font-size: medium;
  font-weight: 400;
}

.navbar {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: row;
  border-bottom: 4px solid #9665ff;
  background-color: #000;
}

.grid {
  display: grid;
  height: inherit;
  width: inherit;
  /* max-width: inherit; */
  /* max-height: min-content; */
  grid-auto-rows: 0.9fr;
  grid-template-columns: repeat(4, auto-fit); 
  grid-template-rows: repeat(4, auto-fit); 
  grid-template-areas: 
    "IconA1 IconB1 IconC1 IconD1"
    "IconA2 IconB2 IconC2 IconD2"
    "IconA3 IconB3 IconC3 IconD3"
    "IconA4 IconB4 IconC4 IconD4";
  align-items: flex-start;
  justify-items: center;
  gap: 14px 10px;
}
@media only screen and (max-width: 550px) {
  .grid {
    height: auto;
    width: 100%;
    grid-auto-rows: 0.2fr;
    grid-template-columns: repeat(4, auto-fit); 
    grid-template-rows: repeat(2, auto-fit);
    grid-template-areas: 
      "IconA1 IconB1"
      "IconA2 IconB2"
      "IconA3 IconB3"
      "IconA4 IconB4"; 
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #9665ff;
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  pointer-events: none;
}
.icon:hover {
  border: 6px solid rgba(106, 64, 197, 0.5);
  background-color: rgba(44, 24, 87, 0.5);
  border-radius: 0;
}

.iconButton {
  display: flex;
  pointer-events: auto;
}

.iconContents {
  display: flex;
  color: #9665ff;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: eightBitFortress;
  font-size: medium;
  font-weight: 400;
}

.backButton {
  display: flex;
  fill: #9665ff;
}
.backButton:hover {
  fill: rgb(106, 58, 209);
}