.documentsBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  /* background: linear-gradient(to bottom, black 38%, rgba(0, 0, 0, 0)); */
  background: #000;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}

.text {
  color: var(--globalColor);
  margin: 0;
  padding-left: 10px;
  align-self: center;
  font-family: eightBitFortress;
  font-size: medium;
  font-weight: 400;
}

.folderContent {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: var(--globalColor);
  /* background-color: #000; */
  flex-direction: column;
  margin: 0;
  padding-right: 12px;
  padding-bottom: 8px;
  align-items: flex-end;
  justify-content: flex-end;
  font-family: eightBitFortress;
  font-size: small;
  font-weight: 400;
  user-select: none;
}

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  height: 4vh;
  width: 100%;
  flex-direction: row;
  border-bottom: 4px solid var(--globalColor);
  background-color: #000;
  z-index: 2;
}

.grid {
  display: grid;
  height: inherit;
  width: inherit;
  /* max-width: inherit; */
  /* max-height: min-content; */
  grid-auto-rows: 0.9fr;
  grid-template-columns: repeat(4, auto-fit); 
  grid-template-rows: repeat(4, auto-fit); 
  grid-template-areas: 
    "IconA1 IconB1 IconC1 IconD1"
    "IconA2 IconB2 IconC2 IconD2"
    "IconA3 IconB3 IconC3 IconD3"
    "IconA4 IconB4 IconC4 IconD4";
  align-items: flex-start;
  justify-items: center;
  gap: 14px 10px;
}

.icon {
  display: flex;
  width: 75%;
  align-items: center;
  justify-content: center;
  fill: var(--globalColor);
  flex-direction: column;
  border: 6px solid rgba(0, 0, 0, 0);
  border-radius: 0;
  pointer-events: none;
}
.icon:hover {
  border: 6px solid var(--globalHoverBorderColor);
  background-color: var(--globalHoverBackgroundColor);
  border-radius: 0;
}

.iconButton {
  display: flex;
  pointer-events: auto;
}

.iconContents {
  display: flex;
  color: var(--globalColor);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: eightBitFortress;
  font-size: medium;
  font-weight: 400;
}

.directory {
  display: flex;
  width: 80%;
  color: var(--globalColor);
  margin: 0;
  padding-left: 10px;
  align-self: center;
  font-family: eightBitFortress;
  font-size: medium;
  font-weight: 400;
}

.backButton {
  display: flex;
  fill: var(--globalColor);
}
.backButton:hover {
  fill: var(--globalColorHover);
}

/* TODO: on mobile this should just be the magnifying glass, and when clicking on, it'll show the textfield */
.search {
  display: flex;
  margin-left: auto;
  padding-inline: 10px;
  align-items: center;
  justify-content: flex-end;
}

.searchInput {
  display: flex;
  width: 80%;
  text-align: right;
}
.searchInput:hover {
  .backButton {
    fill: var(--globalColorHover);
  }
}
.searchInput:focus-within {
  .backButton {
    fill: var(--globalColorHover);
  }
}


/* MOBILE OVERRIDES */
@media only screen and (max-width: 550px) {
  .grid {
    height: auto;
    width: 100%;
    grid-auto-rows: 0.2fr;
    grid-template-columns: repeat(4, auto-fit); 
    grid-template-rows: repeat(2, auto-fit);
    grid-template-areas: 
      "IconA1 IconB1"
      "IconA2 IconB2"
      "IconA3 IconB3"
      "IconA4 IconB4"; 
  }
  .navbar {
    height: auto;
  }
}

@media only screen and (max-width: 920px) {
  .grid {
    height: auto;
    width: 100%;
    grid-auto-rows: 0.2fr;
    grid-template-columns: repeat(4, auto-fit); 
    grid-template-rows: repeat(4, auto-fit);
    grid-template-areas: 
      "IconA1 IconB1" "IconC1" "IconD1"
      "IconA2 IconB2" "IconC2" "IconD2"
      "IconA3 IconB3" "IconC3" "IconD3"
      "IconA4 IconB4" "IconC4" "IconD4";
  }
  .navbar {
    height: auto;
  }
}