@import url('https://api.fonts.coollabs.io/css2?family=Nunito:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --main-background-gradient: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); 
    --archive-background-gradient: linear-gradient(67.5deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(135deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(8, 8, 8),rgb(221, 221, 221)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    --logs-background-gradient: linear-gradient(183deg, #007be0 20%, #000 95%);

    --navbarHomeBackgroundColor: #9665ff;
    --navbarHomeSelectedColor: #000;
    
    --navbarArchiveBackgroundColor: #000;
    --navbarArchiveSelectedColor: #9665ff;
    
    --navbarLogsBackgroundColor: #000;
    --navbarLogsSelectedColor: #9665ff;
}


/* https://www.dafont.com/8-bit-fortress.font */
@font-face {
    font-family: eightBitFortress;
    src: url('/8bitFortress.woff2') format('woff2');
}


/* #region <===general===> */
body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    background: transparent;
    font-family: "Nunito";
    flex-direction: column;
}
/* #endregion <======> */


/* #region <===layout===> */
.layout {
    display: grid;
    grid-template-rows: 
        1fr
        auto;
    grid-template-areas:
        "content"
        "navbar";
    /* grid-column-gap: 32px; */
    min-height: 100vh;
}


/* #region ---navigation--- */
.layout-nav {
    display: flex;
    position: sticky;
    height: auto;
    width: 100%;
    bottom: 0;
    z-index: 3;
    background-color: #000;
    /* background-color: red; */
}

.navigation {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 5px 5px;
    background-color: #000;
    border-top: 4px solid #9665ff;
}

.navigation-primary {
    display: flex;
    position: relative;
}
.navigation ul {
    display: flex;
    margin: 0;
    padding-left: 2px;
    gap: 6px;
    list-style: none;
}
.navigation li {
    display: flex;
    padding: 12px;
    width: 16vh;
    background-color: #000;
    border: 4px solid #9665ff;
}
.navigation button {
    display: flex;
    align-items: flex-end;
    color: #9665ff;
    text-decoration: none;
    font-family: eightBitFortress;
    font-size: 14px;
    font-weight: 400;
}
.navigation span {
    padding-left: 6px;
    gap: 6px;
}
.navigation button:hover span {
    color: #fff;
}

.navigation .home { background-color: var(--navbarHomeBackgroundColor); }
.navigation .home button:hover { fill: #fff; }
.navigation .home button { 
    color: var(--navbarHomeSelectedColor); 
    fill: var(--navbarHomeSelectedColor); 
}

.navigation .archive { background-color: var(--navbarArchiveBackgroundColor); }
.navigation .archive button:hover { fill: #fff; }
.navigation .archive button { 
    color: var(--navbarArchiveSelectedColor); 
    fill: var(--navbarArchiveSelectedColor);
}

.navigation .logs { background-color: var(--navbarLogsBackgroundColor); }
.navigation .logs button:hover { fill: #fff; }
.navigation .logs button { 
    color: var(--navbarLogsSelectedColor);
    fill: var(--navbarLogsSelectedColor);
}

.navigation .null{
    border: 4px solid transparent;
    user-select: none;
    pointer-events: none;
}

.navigation-secondary {
    display: flex;
    position: relative;
    margin-left: auto;
    color: #9665ff;
    font-family: eightBitFortress;
    font-size: 14px;
    font-weight: 400;
}
.navigation-secondary li {
    border: 0;
    padding: 6px;
    align-items: center;
    width: auto;
}
.navigation-secondary ul {
    margin-right: 2vh;
}

.navigation-secondary .time {
    user-select: none;
}
.navigation-secondary .something {
    fill: #9665ff;
    cursor: pointer;
    :hover{
        fill: #007be0;
    }
}
/* #endregion */


/* #region ---content--- */
.layout-content {
    grid-area: content;
    display: grid;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    /* background: yellow; */
    background: url("/starryBackground.webp");
    background-blend-mode: overlay, overlay, overlay, normal;
    background-size: auto;
    background-repeat: no-repeat;
}
/* #endregion ------ */

.backgroundVideo {
    display: grid;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: -1;
}
/* #endregion <======> */


/* #region <===404===> */
.not-found { 
    display: flex;
    background-image: var(--main-background-gradient);
    background-blend-mode: overlay, overlay, overlay, normal;
    background-size: auto;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found a { 
    color: #0860d3; 
    text-decoration: underline; 
}
/* #endregion <======> */


/* #region <===Windows===> */
#window-content{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 20px;
    z-index: 5;
}
#window-form{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
#window-form-content{
    display: flex;
    padding: 6px;
    width: auto;
    justify-content: center;
    border: 2px solid #9665ff;
}
/* #endregion <===windows===> */


/* #region <===desktop===> */
/* #region ---desktop-layout--- */
.desktop-layout{
    display: grid; 
    height: 100%;
    width: 100%;
    padding: 15px;
    grid-auto-columns: 0.4fr; 
    grid-template-columns: 0.4fr 0.4fr 0.4fr 0.4fr 2fr; 
    grid-template-rows: 0.4fr 0.4fr 2fr; 
    gap: 20px 20px; 
    grid-template-areas: 
        "Icon1 Icon2 Icon3 Icon4 ."
        "Icon5 Icon6 . . ."
        ". . . . ."; 
}

.draggable {
    position: absolute;
    z-index: 9;
}
#draggable-header {
    top: 0;
    position: sticky;
    cursor: grab;
    z-index: 10;
}

#icon{
    height: 100%;
    width: 100%;
    max-height: 18vh;
    max-width: 18vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: #9665ff;
    border: 6px solid rgba(0, 0, 0, 0);
    pointer-events: none;
    h1{ 
        padding: 0 4px;
        margin: 6px;
        color: #9665ff;
        background: #000;
        font-weight: 400;
        font-size: 16px;
        user-select: none;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 6px;
        text-decoration: none;
        pointer-events: auto;
    }
}
#icon:hover{
    border: 6px solid rgba(106, 64, 197, 0.5);
    background-color: rgba(44, 24, 87, 0.5);
}

#window-archive{
    display: flex;
    width: 50vh;
    height: 40vh;
    top: 200px;
    left: 200px;
    flex-direction: column;
    border: 4px solid #9665ff;
}

#window-logs{
    display: flex;
    width: 60vh;
    height: 70vh;
    top: 100px;
    left: 800px;
    overflow-y: scroll;
    flex-direction: column;
    border: 4px solid #9665ff;
}


.Icon2 { grid-area: Icon2; }

.Icon3 { grid-area: Icon3; }

.Icon4 { grid-area: Icon4; }

.Icon5 { grid-area: Icon5; }

.Icon6 { grid-area: Icon6; }
/* #region ---desktop-layout--- */
/* #endregion <===Desktop===> */