@import url('https://api.fonts.coollabs.io/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* #region <===general===> */
body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    color: #333;
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); 
    background-blend-mode: overlay, overlay, overlay, normal;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: "Nunito";
    flex-direction: column;
}

a {
    color: #333;
    text-decoration: none;
}
/* #endregion <======> */

/* #region <===layout===> */
.layout {
    display: grid;
    grid-template-columns: /* leftbar content rightbar */ 
        1fr 
        min(80ch, calc(100% - 64px)) 
        1fr;
    grid-template-rows: 
        auto 
        1fr 
        auto;
    grid-template-areas:
        "navbar  navbar  navbar"
        "leftbar content rightbar"
        "footer  footer  footer";
    grid-column-gap: 32px;
    min-height: 100vh;
}


/* #region ---navigation--- */
.layout-nav {
    position: sticky;
    top: 0;
    z-index: 3;
    grid-area: navbar;
    /* background-color: red; */
}

.navigation {
    display: flex;
    margin: 0px auto;
    padding: 10px 10px;
    background-color: #ddf;
    border-bottom: 2px solid #ddd;
}

.navigation-primary {
    display: flex;
    position: relative;
    margin-left: 5vh;
    margin-top: auto;
    transform: translateY(20px);
}
.navigation-primary ul {
    display: flex;
    margin: 10px;
    padding: 0px;
    list-style: none;
}
.navigation-primary li {
    display: flex;
    padding: 8px;
    text-shadow: 0px 2px rgba(119, 119, 119, 0.178);
}
.navigation-primary .background {
    display: flex;
    will-change: transform;
    transition: transform 450ms;
}
.navigation-primary a:hover .background {
    transition: transform 125ms;
    transform: translateY(-8px);
    color: #0860d3;
}

.navigation-secondary {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -12%);
    cursor: pointer;
}

.navigation-settings {
    display: flex;
    margin-left: auto;
    margin-top: auto;
}
/* #endregion */


/* #region ---content--- */
.layout-content {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 5px 10px;
    width: auto;
    max-width: 1100px;
    z-index: 1;
    grid-area: content;
    /* background: yellow; */
}
/* #endregion ------ */


/* #region ---sidebars--- */
.leftbar {
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    max-width: 100%;
    z-index: 2;
    grid-area: leftbar;
    /* background-color: blue; */
    /* background-image: url("../../public/sidebar9.png"); */
}
.rightbar {
    position: relative;
    overflow: hidden;
    height: auto;
    width: auto;
    z-index: 2;
    grid-area: rightbar;
    /* background-color: blue; */
    /* background-image: url("../../public/sidebar9_2.png"); */
}
/* #endregion ------ */


/* #region ---footer--- */
.layout-footer {
    position: relative;
    grid-area: footer;
    /* background-color: lime; */
}
footer {
    display: flex;
    overflow: hidden;
    justify-content: center;
    padding: 20px 0;
    width: 100%;
    color: #777;
    z-index: 2;
}
/* #endregion ------ */
/* #endregion <======> */



/* #region <===404===> */
.not-found { text-align: center; margin-top: 50px; transform: translateY(35vh); }
.not-found a { color: #0860d3; text-decoration: underline; transform: translateY(35vh); }
/* #endregion <======> */