@import url('https://api.fonts.coollabs.io/css2?family=Nunito:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --archive-background-gradient: linear-gradient(67.5deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(135deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(0deg, rgb(6, 6, 6) 0%, rgb(6, 6, 6) 6%,rgb(29, 29, 29) 6%, rgb(29, 29, 29) 57%,rgb(52, 52, 52) 57%, rgb(52, 52, 52) 58%,rgb(75, 75, 75) 58%, rgb(75, 75, 75) 79%,rgb(97, 97, 97) 79%, rgb(97, 97, 97) 93%,rgb(120, 120, 120) 93%, rgb(120, 120, 120) 95%,rgb(143, 143, 143) 95%, rgb(143, 143, 143) 100%),linear-gradient(90deg, rgb(8, 8, 8),rgb(221, 221, 221)); background-blend-mode:overlay,overlay,overlay,overlay,normal;
    --logs-background-gradient: linear-gradient(183deg, #170d2e 20%, #000 65%);
    --moon-background-gradient: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); 
    
    --globalColor: #9665ff;
    --globalColorHover: #6a3ad1;
    --globalHoverBorderColor: rgba(106, 64, 197, 0.5);
    --globalHoverBackgroundColor: rgba(44, 24, 87, 0.5);
    
    --desktopWallpaper: url("/Wallpapers/Wallpaper-Starry.webp");
    --desktopWallpaperBrightness: 0;

    --desktopMenuBackgroundColor: #000;
    --desktopMenuSelectedColor: var(--globalColor);

    --navbarArchiveBackgroundColor: #000;
    --navbarArchiveSelectedColor: var(--globalColor);
    --navbarArchiveOrder: 1;
    
    --navbarLogsBackgroundColor: #000;
    --navbarLogsSelectedColor: var(--globalColor);
    --navbarLogsOrder: 2;

    --navbarSettingsBackgroundColor: #000;
    --navbarSettingsSelectedColor: var(--globalColor);
    --navbarSettingsOrder: 3;

    --navbarDocumentsBackgroundColor: #000;
    --navbarDocumentsSelectedColor: var(--globalColor);
    --navbarDocumentsOrder: 4;

    --navbarPortfolioBackgroundColor: #000;
    --navbarPortfolioSelectedColor: var(--globalColor);
    --navbarPortfolioOrder: 5;

    --navbarImageViewerBackgroundColor: #000;
    --navbarImageViewerSelectedColor: var(--globalColor);
    --navbarImageViewerOrder: 6;

    --navbarAlertBackgroundColor: #000;
    --navbarAlertSelectedColor: var(--globalColor);
    --navbarAlertOrder: 7;

    --navbarTextEditorBackgroundColor: #000;
    --navbarTextEditorSelectedColor: var(--globalColor);
    --navbarTextEditorOrder: 8;

    --everythingButAlertBlur: 0px;
}


/* https://www.dafont.com/8-bit-fortress.font but i added missing glyphs/characters */
@font-face {
    font-family: eightBitFortress;
    src: url('/pixelFont.woff2') format('woff2');
}


/* #region <===general===> */
body {
    display: flex;
    margin: 0;
    min-height: 100vh;
    background: transparent;
    font-family: "Nunito";
    flex-direction: column;
}
/* #endregion <======> */


/* #region <===layout===> */
.layout {
    display: grid;
    grid-template-rows: 
        1fr
        auto;
    grid-template-areas:
        "content"
        "navbar";
    /* grid-column-gap: 32px; */
    min-height: 100vh;
}


/* #region <---navigation---> */
.layout-nav {
    display: flex;
    position: sticky;
    height: auto;
    width: auto;
    bottom: 0;
    z-index: 3;
    background-color: #000;
    /* background-color: red; */
}

.navigation {
    display: flex;
    margin: 0;
    width: 100%;
    padding: 5px 5px;
    background-color: #000;
    border-top: 4px solid var(--globalColor);
}

/* #region ---primary--- */
.navigation-primary {
    display: flex;
    position: relative;
}
.navigation ul {
    display: flex;
    margin: 0;
    padding-left: 2px;
    gap: 6px;
    list-style: none;
}
.navigation li {
    display: flex;
    padding: 12px;
    width: 16vh;
    background-color: #000;
    border: 4px solid var(--globalColor);
}
.navigation button {
    display: flex;
    align-items: flex-end;
    color: var(--globalColor);
    text-decoration: none;
    font-family: eightBitFortress;
    font-size: medium;
    font-weight: 400;
}
.navigation span {
    padding-left: 6px;
    gap: 6px;
}
.navigation button:hover span {
    color: #fff;
}
.navigation button:hover path {
    fill: #fff;
}

.navigation .archive { background-color: var(--navbarArchiveBackgroundColor); order: var(--navbarArchiveOrder); }
.navigation .archive button { 
    color: var(--navbarArchiveSelectedColor); 
    fill: var(--navbarArchiveSelectedColor);
}

.navigation .logs { background-color: var(--navbarLogsBackgroundColor); order: var(--navbarLogsOrder); }
.navigation .logs button { 
    color: var(--navbarLogsSelectedColor);
    fill: var(--navbarLogsSelectedColor);
}

.navigation .settings { background-color: var(--navbarSettingsBackgroundColor); order: var(--navbarSettingsOrder); }
.navigation .settings button { 
    color: var(--navbarSettingsSelectedColor);
    fill: var(--navbarSettingsSelectedColor);
}

.navigation .documents { background-color: var(--navbarDocumentsBackgroundColor); order: var(--navbarDocumentsOrder); }
.navigation .documents button { 
    color: var(--navbarDocumentsSelectedColor);
    fill: var(--navbarDocumentsSelectedColor);
}

.navigation .portfolio { background-color: var(--navbarPortfolioBackgroundColor); order: var(--navbarPortfolioOrder); }
.navigation .portfolio button { 
    color: var(--navbarPortfolioSelectedColor);
    fill: var(--navbarPortfolioSelectedColor);
}

.navigation .imageViewer { background-color: var(--navbarImageViewerBackgroundColor); order: var(--navbarImageViewerOrder); }
.navigation .imageViewer button { 
    color: var(--navbarImageViewerSelectedColor);
    fill: var(--navbarImageViewerSelectedColor);
}

.navigation .alert { background-color: var(--navbarAlertBackgroundColor); order: var(--navbarAlertOrder); }
.navigation .alert button { 
    color: var(--navbarAlertSelectedColor);
    fill: var(--navbarAlertSelectedColor);
}

.navigation .textEditor { background-color: var(--navbarTextEditorBackgroundColor); order: var(--navbarTextEditorOrder); }
.navigation .textEditor button { 
    color: var(--navbarTextEditorSelectedColor);
    fill: var(--navbarTextEditorSelectedColor);
}

.navigation .null{
    border: 6px solid transparent;
    user-select: none;
    pointer-events: none;
    width: 0;
    order: 100;
}

.navigation .menu {
    display: flex;
    align-items: center;
    margin-right: 8px;
    padding-inline: 2vh;
    padding-block: 6px;
    border: 4px solid var(--globalColor);
    background-color: var(--desktopMenuBackgroundColor);
    fill: var(--desktopMenuSelectedColor);
}
.navigation .menu div {
    display: flex;
    cursor: pointer;
    :hover{
        fill: #fff;
    }
}
/* #endregion ------ */

/* #region ---secondary--- */
.navigation-secondary {
    display: flex;
    position: relative;
    margin-left: auto;
    color: var(--globalColor);
    font-family: eightBitFortress;
    font-size: medium;
    font-weight: 400;
}
.navigation-secondary li {
    border: 0;
    padding: 6px;
    align-items: center;
    width: auto;
}
.navigation-secondary ul {
    margin-right: 2vh;
}

.navigation-secondary .time {
    user-select: none;
}
.navigation-secondary .something div {
    fill: var(--globalColor);
    cursor: pointer;
    :hover{
        fill: #007be0;
    }
}
/* #endregion ------ */
/* #endregion <------> */


/* #region <---content---> */
.layout-content {
    grid-area: content;
    display: grid;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    z-index: 1;
    /* background: yellow; */
    background: var(--desktopWallpaper);
    background-color: rgba(0, 0, 0, calc(calc(100 - var(--desktopWallpaperBrightness)) / 100));
    background-blend-mode: overlay, overlay, overlay, normal;
    background-size: auto;
    background-repeat: no-repeat;
}

.layout-content > *:not(#window-alert) {
    filter: blur(var(--everythingButAlertBlur));
}

.backgroundVideo {
    display: grid;
    position: absolute;
    width: fit-content;
    height: fit-content;
    z-index: -1;
}

/* #endregion <------> */
/* #endregion <======> */


/* #region <===404===> */
.not-found { 
    display: flex;
    background-image: var(--main-background-gradient);
    background-blend-mode: overlay, overlay, overlay, normal;
    background-size: auto;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.not-found a { 
    color: #0860d3; 
    text-decoration: underline; 
}
/* #endregion <======> */


/* #region <===menu===> */
/* #region <---layout-menu---> */
.layout-menu{
    display: flex;
    position: fixed;
    height: 60vh;
    width: 50vh;
    bottom: 7.8vh;
    font-family: eightBitFortress;
    user-select: none;
    font-size: small;
    font-weight: 400;
    z-index: 100;
}

.layout-menu .left-menu {
    display: flex;
    width: 55vh;
    max-width: 55vh;
    padding: 10px;
    background-color: var(--globalColor);
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    border-right: 4px solid var(--globalColorHover);
    border-top: 4px solid var(--globalColorHover);
    flex-direction: column;
    z-index: 100;
    ul {
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: column;
        list-style: none;
    }
}
.layout-menu .left-menu li {
    display: flex;
    border: 4px solid rgba(0, 0, 0, 0);
    /* align-items: center; */
    gap: 6px;
    padding: 2px 4px;
}
.layout-menu .left-menu li:hover {
    border: 4px solid var(--globalHoverBorderColor);
    background-color: var(--globalHoverBackgroundColor);
    fill: #fff;
    color: #ddd;
    cursor: pointer;
}

.layout-menu .right-menu {
    display: flex;
    height: 40vh;
    width: 45vh;
    padding: 10px;
    background-color: var(--globalColorHover);
    border: 4px solid var(--globalColor);
    border-left: 0;
    flex-direction: column;
    z-index: 90;
}
/* #endregion <------> */
/* #endregion <======> */


/* #region <===desktop===> */
/* #region ---desktop-layout--- */
.desktop-layout{
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(120px, 140px)); 
    grid-template-rows: repeat(auto-fit, minmax(80px, auto-fit)); 
    gap: 16px 20px;
    margin: 16px;
    grid-template-areas: 
        "IconA1 IconB1 IconC1"
        "IconA2 IconB2 IconC2"
        "IconA3 IconB3 IconC3"
        "IconA4 IconB4 IconC4"
        "IconA5 IconB5 IconC5"
        "IconA6 IconB6 IconC6"; 
}
/* .icon-archive{ grid-area: IconC1; } */
/* .icon-logs{ grid-area: IconB1; } */
.icon-documents{ grid-area: IconA1; }
.icon-pictures{ grid-area: IconA2; } 
.icon-settings{ grid-area: IconA3; }
/* .icon-portfolio{ grid-area: IconB5; }  */
.icon-tutorial{ grid-area: IconA6; }

#icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    fill: var(--globalColor);
    border: 6px solid rgba(0, 0, 0, 0);
    pointer-events: none;
    h1{ 
        padding: 0 4px;
        margin: 0;
        color: var(--globalColor);
        background: #000;
        font-size: medium;
        font-weight: 400;
        user-select: none;
    }
    button{
        display: flex;
        gap: 8px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-decoration: none;
        filter: drop-shadow(-3px 2px 2px rgba(0, 0, 0, 0.36));
        pointer-events: auto;
    }
}
#icon:hover{
    border: 6px solid var(--globalHoverBorderColor);
    background-color: var(--globalHoverBackgroundColor);
}
/* #endregion ------ */

/* #region ---windows--- */
.draggable {
    position: absolute;
    z-index: 9;
}
#draggable-header {
    top: 0;
    position: sticky;
    cursor: grab;
    z-index: 10;
}


#window-archive{
    display: flex;
    width: 50vh;
    height: 40vh;
    top: 200px;
    left: 200px;
    flex-direction: column;
    border: 4px solid var(--globalColor);
}

#window-logs{
    display: flex;
    width: 60vh;
    height: 70vh;
    top: 100px;
    left: 800px;
    overflow-y: scroll;
    flex-direction: column;
    border: 4px solid var(--globalColor);
}

#window-settings{
    display: flex;
    width: 80vh;
    height: 40vh;
    top: 220px;
    left: 300px;
    flex-direction: column;
    border: 4px solid var(--globalColor);
}

#window-documents{
    display: flex;
    width: 80vh;
    height: 50vh;
    top: 160px;
    left: 400px;
    flex-direction: column;
    /* border-image: linear-gradient(to bottom, var(--globalColor) 40%, rgba(0, 0, 0, 0)) 1 / 4px;
    border-width: 4px;
    border-style: solid; */
    border: 4px solid var(--globalColor);
}

#window-portfolio{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 10;
}

#window-imageViewer{
    display: flex;
    width: fit-content;
    height: fit-content;
    top: 140px;
    left: 360px;
    flex-direction: column;
    border: 4px solid var(--globalColor);
}

#window-alert{
    display: flex;
    position: absolute;
    width: 40vh;
    height: 20vh;
    top: 260px;
    left: 750px;
    flex-direction: column;
    border: 4px solid var(--globalColor);
}

#window-textEditor{
    display: flex;
    width: 28vw;
    height: 40vh;
    top: 220px;
    left: 260px;
    flex-direction: column;
    border: 4px solid var(--globalColor);
    background: #000;
}
/* #endregion ------ */
/* #endregion <======> */


/* #region <===MOBILE OVERRIDES===> */
/* #region ---700px--- */
@media only screen and (max-width: 700px) { 
    .backgroundVideo {
        display: grid;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .navigation li {
        padding-inline: 0;
        width: auto;
    }
    .navigation span {
        padding: 0;
        gap: 0;
        font-size: 0;
    }

    .desktop-layout {
        grid-template-areas: 
            "IconA1 IconB1"
            "IconA2 IconB2";
    }
    .icon-documents{ grid-area: IconA1; }
    .icon-pictures{ grid-area: IconB1; }
    .icon-settings{ grid-area: IconA2; }
    .icon-tutorial{ grid-area: IconB2; }

    #window-archive, 
    #window-logs, 
    #window-settings, 
    #window-documents, 
    #window-portfolio,
    #window-imageViewer,
    #window-alert,
    #window-textEditor {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border: 0;
    }
}
/* #endregion ------ */

/* #region ---400px--- */
@media only screen and (max-width: 400px) { 
    .backgroundVideo {
        display: grid;
        position: absolute;
        width: fit-content;
        height: 100%;
        z-index: -1;
    }

    .navigation li {
        /* padding-inline: 0; */
        width: auto;
    }
    /* .navigation span {
        padding: 0;
        gap: 0;
        font-size: 0;
    } */

    .desktop-layout {
        grid-template-areas: 
            "IconA1 IconB1"
            "IconA2 IconB2"
            "IconA3 IconB3"; 
    }
    .icon-documents{ grid-area: IconA1; }
    .icon-pictures{ grid-area: IconA2; }
    .icon-tutorial{ grid-area: IconB3; }
    .icon-settings{ grid-area: IconA3; }

    #window-archive, 
    #window-logs, 
    #window-settings, 
    #window-documents, 
    #window-portfolio,
    #window-imageViewer,
    #window-alert,
    #window-textEditor {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border: 0;
        background: #000;
    }
}
/* #endregion ------ */
/* #endregion <======> */