.imageViewerBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;
  max-width: min-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  display: flex;
  width: 100%;
  margin: 0 8px;
  padding: 8px 0;
  color: #fff;
  background: #000;
  align-items: center;
  justify-content: center;
  font-family: eightBitFortress;
  font-size: larger;
  font-weight: 400;
  border-top: 6px solid var(--globalColor);
  user-select: none;
  text-align: center;
  z-index: 0;
}

.image { 
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  z-index: 0;
}
.image div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.maximizedImage{
  display: flex;
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 5%;
  justify-content: center;
  background: #000;
}

.icon {
  display: flex;
  position: absolute;
  height: 3vh;
  background: var(--globalColor);
  border: 4px solid var(--globalColor);
  border-radius: 0;
  cursor: pointer;
  z-index: 1;
}
.icon:hover {
  display: flex;
  background: var(--globalColorHover);
  border: 4px solid var(--globalColorHover);
}

.previewImages {
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-bottom: 2vh;
  z-index: 1;
}
.previewImages section {
  display: flex;
  margin-inline: 4px;
  border: 2px solid #fff;
}
.previewImages section :hover {
  display: flex;
  cursor: pointer;
}


/* MOBILE OVERRIDES */
@media only screen and (max-width: 700px) {
  .imageViewerBody {
    height: auto;
    width: 100%;
    max-width: 100vw;
    align-self: center;
    overflow: hidden;
  }

  .image {
    height: auto;
    width: auto;
    overflow: hidden;
  }

  .text {
    padding: 0;
    font-size: 0;
    border: 0;
    background: transparent;
    z-index: -1;
  }

  .previewImages {
    z-index: -1;
  }
}

@media only screen and (max-width: 400px) {
  .imageViewerBody {
    height: 100%;
    width: 100%;
    max-width: 100vw;
    align-self: center;
    justify-content: center;
    overflow: hidden;
  }

  .image {
    height: 100%;
    width: auto;
    overflow: hidden;
  }

  .text {
    padding: 8px 0;
    font-size: larger;
    border-top: 6px solid var(--globalColor);
    background: #000;
    z-index: 0;
  }

  .previewImages {
    z-index: 1;
  }
}