.imageViewerBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: var(--moon-background-gradient);
  background-blend-mode: overlay, overlay, overlay, normal;
  background-size: auto;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}