.portfolioBody {
  background-image: var(--portfolio-background-gradient);
  background-blend-mode: overlay, overlay, overlay, normal;
  background-size: auto;
  background-repeat: no-repeat;
}

.title {
    color: #ccc;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: 2px 3px rgba(205, 205, 205, 0.175);
    transform: translateY(35vh);
}
.text {
  color: #00caca;
  text-align: center;
  transform: translateY(35vh);
}


/* #region <===floating===> */
.floating1{
    display: flex;
    cursor: default;
    animation: 
      floating-animation1 1500ms 
      alternate infinite 
      ease-in-out;
}
.floating1:hover{
  animation-play-state: paused;
}

.background1 {
  display: flex;
  will-change: transform;
  transition: transform 450ms;
}
.floating1:hover .background1 {
  transition: transform 125ms;
  transform: translateY(-8px); /* NOTE: just scale might be nicer to use (instead of both transalte and scale) */
  transform: scale(1.02);
  color: #555555;
}

.floating2{
  display: flex;
  padding-top: 2%;
  cursor: default;
  animation: 
    floating-animation2 1700ms 
    alternate infinite 
    ease-in-out;
}
.floating2:hover{
  animation-play-state: paused;
}

.background2 {
  display: flex;
  will-change: transform;
  transition: transform 450ms;
}
.floating2:hover .background2 {
  transition: transform 125ms;
  transform: translateY(-8px);
  transform: scale(1.02);
  color: #555555;
}


@keyframes floating-animation1 {
  from{ transform: translateY(-20px); }
  to{ transform: translateY(0px); }
}

@keyframes floating-animation2 {
  from{ transform: translateY(-10px); }
  to{ transform: translateY(8px); }
}
/* #endregion <======> */