.portfolioBody {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  background-image: var(--moon-background-gradient);
  background-blend-mode: overlay, overlay, overlay, normal;
  background-size: auto;
  background-repeat: no-repeat;
  flex-direction: column;
  overflow-y: scroll;
}

#title {
  display: flex;
  font-size: xx-large;
  padding-bottom: 10px;
  margin: 0;
}

#image {
  display: flex;
  width: fit-content;
  border: 4px solid #000;
  box-shadow: 6px 4px 8px rgba(72, 72, 72, 0.58);
  cursor: zoom-in;
}

#divider {
  display: flex;
  background-color: #000;
  color: #000;
  width: 100%;
  height: 10px;
  user-select: none;
}


.section1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: repeating-linear-gradient(315deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(225deg, rgb(223, 43, 1),rgb(202, 124, 12));
}

.section1sub1 {
  display: flex;
  width: 60%;
  align-self: flex-end;
  flex-direction: column;
  margin: 4vh;
}

.section1sub2 {
  display: flex;
  width: 86%;
  align-self: flex-end;
  flex-direction: row;
  margin: 4vh;
}


.section2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.04) 0px, rgba(0,0,0,0.04) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(165, 230, 235),rgb(29, 32, 232));
}
.section2sub1 {
  display: flex;
  width: 82%;
  max-width: 100vh;
  align-self: flex-start;
  flex-direction: column;
  margin: 4vh;
}