.titlebar {
    display: flex;
    position: sticky;
    height: auto;
    width: 100%;
    top: 0;
    /* background-color: #007be0; */
    background-color: #000;
    user-select: none;
    z-index: 5;
}

#header {
    display: flex;
    width: 100%;
    border-bottom: 8px solid #9665ff;
    font-family: eightbitFortress;
}

#systemIcon {
    background-color: #9665ff;
    padding: 0 0px; /* top and bottom | left and right */
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
#systemIcon:hover {
    cursor: pointer;
    background-color: #844bff;
}

.displayIcon {
    display: inline-flex;
    margin: auto 4px; /* top and bottom | left and right */
    fill: #9665ff;
    user-select: none;
}
.displayIcon:hover {
    fill: #007be0;
    cursor: pointer;
}

.name {
    display: flex;
    margin: 0;
    padding: 4px 4px; /* top and bottom | left and right */
    align-self: center;
    justify-self: flex-start;
    font-family: eightbitFortress;
    font-size: 14px;
    font-weight: 400;
    user-select: none;
    color: #9665ff;
    z-index: 8;
}

.systemIcons {
    display: inline-flex;
    align-self: center;
    margin: auto 4px auto auto; /* top | right | bottom | left */
    gap: 4px;
    user-select: none;
}

.maximizeIcon {
    transform: scaleX(-1);
}

.closeIcon {
    background-color: #9665ff;
    padding: 0 0px; /* top and bottom | left and right */
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
.closeIcon:hover {
    cursor: pointer;
    background-color: #ff4b4b;
}