#header {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    border-bottom: 8px solid #9665ff;
    background-color: #000;
    font-family: eightbitFortress;
}

.name {
    display: flex;
    margin: 0;
    padding: 4px 4px; /* top and bottom | left and right */
    align-self: center;
    justify-self: flex-start;
    font-family: eightbitFortress;
    font-size: medium;
    font-weight: 400;
    user-select: none;
    color: #9665ff;
}
.systemIcons {
    display: inline-flex;
    align-self: center;
    margin: auto 4px auto auto; /* top | right | bottom | left */
    gap: 4px;
    cursor: pointer;
    user-select: none;
}

#systemIcon {
    background-color: #9665ff;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
#displayIcon {
    display: inline-flex;
    margin: auto 4px; /* top and bottom | left and right */
    user-select: none;
}

.closeIcon {
    background-color: #9665ff;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
.closeIcon:hover {
    cursor: pointer;
    background-color: #ff4b4b;
}

.maximizeIcon {
    background-color: #9665ff;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
    transform: scaleX(-1);
}
.maximizeIcon:hover {
    cursor: pointer;
    background-color: hwb(259 28% 0%);
}

.minimizeIcon {
    background-color: #9665ff;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}
.minimizeIcon:hover {
    cursor: pointer;
    background-color: hwb(259 28% 0%);
}